@import 'variable.css';

.tp-about-me {
    border-bottom: solid 10px var(--white);
}

.pf-about-me {
    border-radius: 50%;
    background-color: var(--white);
    border: solid 10px var(--white);
}

.about-me-desktop {
    display: flex;
    flex-direction: column;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-me h1 {
    font-family: var(--primary-title);
    color: var(--white);
}

.sub-title {
    font-weight: 100;
}

.socialLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socialLinks img {
    border-radius: 10%;
    transition: 0.3s;
}

.socialLinks img:hover {
    transform: scale(1.3);
}

@media screen and (max-width: 979px) {
    .pf-about-me {
        top: 10px;
        height: 250px;
        width: 250px;
        margin: 0 auto;
    }

    .pf-desktop {
        display: none;
    }

    .about-me {
        padding: 10px 20px;
    }

    .about-me h1 {
        padding-top: 20px;
        font-size: 2.5rem;
        font-weight: bold;
    }

    .sub-title {
        padding-top: 20px;
    }

    .paragraph {
        padding-top: 10px;
    }

    .socialLinks img {
        margin-top: 150px;
        height: 50px;
    }
}

@media screen and (min-width: 980px) {
    .cont-about-me > section:nth-child(2) {
        display: grid;
        align-items: center;
        justify-items: center;
        padding-top: 100px;
    }

    .pf-mobile {
        display: none;
    }

    .about-me h1 {
        padding: 20px 50px 0 0;
        font-size: 3.5rem;
        font-weight: bold;
    }

    .sub-title {
        padding: 20px 50px 0 0;
    }

    .paragraph {
        padding: 0 50px 10px 0;
    }

    .socialLinks img {
        margin-top: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 980px) and (max-width: 1299px) {
    .cont-about-me > section:nth-child(2) {
        grid-template-columns: 40% 60%;
        padding-top: 50px;
    }

    .pf-about-me {
        height: 350px;
        width: 350px;
        margin: 20px;
    }
}

@media screen and (min-width: 1300px) {
    .cont-about-me > section:nth-child(2) {
        grid-template-columns: 35% 65%;
    }

    .pf-about-me {
        height: 400px;
        width: 400px;
        margin: 20px;
    }
}
