@import 'variable.css';

.tp-home-page {
    border-bottom: solid 10px var(--white);
}

.pf-about-me {
    border-radius: 50%;
    background-color: var(--white);
    border: solid 10px var(--white);
}

.about-me-name {
    font-family: var(--secondary-title);
    color: var(--white);
    font-weight: 100;
    text-align: center;
}

.about-me-job {
    font-family: var(--secondary-title);
    color: var(--white);
    font-weight: 100;
    text-align: center;
}

.social-links {
    display: flex;
    flex-direction: row;
}

.social-links img {
    border-radius: 10%;
    transition: 0.3s;
}

.social-links img:hover {
    transform: scale(1.2);
}

.about-me-articles article {
    width: 100%;
}

@media screen and (max-width: 979px) {
    .home-page {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .title-page {
        height: 200px;
    }

    .menu-clear {
        height: 200px;
    }

    .pf-about-me {
        height: 230px;
        width: 230px;
        margin: 20px auto;
    }

    .about-me-name {
        margin-top: 100px;
        padding: 0 10px 5px;
        font-size: 2.3rem;
    }

    .about-me-job {
        padding: 5px 10px 10px;
        font-size: 1.8rem;
    }

    .social-links {
        justify-content: space-around;
    }

    .social-links img {
        height: 40px;
    }

    .sub-title {
        padding: 20px 10px 5px;
    }

    .paragraph {
        padding: 5px 10px 20px;
    }
}

@media screen and (min-width: 980px) {
    .home-page {
        display: grid;
    }

    .home-page aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 84vh;
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
    }

    .about-me-name {
        padding: 10px;
        font-size: 3rem;
    }

    .about-me-job {
        padding: 10px;
        font-size: 2.5rem;
    }

    .pf-about-me {
        margin: 0 auto;
    }

    .social-links {
        justify-content: center;
    }

    .social-links img {
        margin: 0 20px;
        height: 50px;
    }

    .about-me-articles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 100px 20px 50px;
    }

    .sub-title {
        padding: 30px 0 10px;
    }

    .paragraph {
        padding: 10px 0 30px;
    }
}

@media screen and (min-width: 980px) and (max-width: 1299px) {
    .home-page {
        grid-template-columns: 500px 1fr;
    }

    .pf-about-me {
        height: 350px;
        width: 350px;
        margin: 20px;
    }
}

@media screen and (min-width: 1300px) {
    .home-page {
        grid-template-columns: 650px 1fr;
    }

    .pf-about-me {
        height: 400px;
        width: 400px;
        margin: 20px;
    }
}
