@import 'variable.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

.title-page {
    background-color: var(--secondary-color);
    font-family: var(--primary-title);
    color: var(--primary-color);
}

.picture-frame {
    z-index: 10;
    position: relative;
    overflow: hidden;
    /*height: local;*/
    /*width: local;*/
}

.picture-frame img {
    height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 979px) {
    .title-page {
        padding: 20px;
        height: 200px;
        font-size: 1.5rem;
    }

    .title-page h1 {
        padding-right: 60px;
    }
}

@media screen and (min-width: 980px) {
    .title-page {
        padding: 20px;
        height: 100px;
        font-size: 2rem;
        text-align: center;
        letter-spacing: 10px;
    }    
}
