@import 'variable.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

.title-page {
    background-color: var(--secondary-color);
    font-family: var(--primary-title);
    color: var(--primary-color);
}

.sub-title {
    font-family: var(--primary-title);
    color: var(--white);
    text-align: center;
}

.paragraph {
    font-family: var(--primary-text);
    color: var(--white);
    text-align: center;
}

.picture-frame {
    position: relative;
    overflow: hidden;
    /*height: local;*/
    /*width: local;*/
}

.picture-frame img {
    height: 100%;
    position: relative;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 979px) {
    .title-page {
        padding: 20px;
        height: 200px;
        font-size: 1.5rem;
    }

    .title-page h1 {
        padding-right: 60px;
    }

    .sub-title {
        font-size: 2.5rem;
        padding: 10px;
    }

    .paragraph {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 980px) {
    .title-page {
        display: none;
    }

    .sub-title {
        font-size: 3.5rem;
    }

    .paragraph {
        font-size: 1.8rem;
    }
}

.logout {
    z-index: 200;
    position: fixed;
    top: 90px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    color: var(--secondary-color);
    border-radius: 50%;
    border: solid 2px var(--secondary-color);
    transition: all 0.3s ease;
}

.logout:hover {
    transform: scale(1.1);
    background-color: var(--secondary-color);
    border: solid 2px var(--orange);
    color: var(--orange);
}

.logout i {
    padding: 0;
}

@media screen and (max-width: 979px) {
    .logout {
        width: 65px;
        height: 65px;
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 980px) {
    .logout {
        width: 80px;
        height: 80px;
        font-size: 2.2rem;
    }
}

.succes-send {
    z-index: 1000;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    background-color: rgb(165, 250, 165);
    font-family: var(--primary-text);
    font-size: 1.5rem;
    color: green;
    text-align: center;
}
