@import 'variable.css';

/***STRUCTURE___start***/
.form {
    display: flex;
    flex-direction: column;
}

.message {
    display: grid;
    grid-template-rows: 1fr 5fr;
    padding: 10px;
}
/***STRUCTURE___end***/

/***LABEL___start***/
label {
    padding: 10px;
    font-family: var(--primary-title);
    font-weight: bold;
    color: var(--white);
}

.message label {
    text-align: center;
}
/***LABEL___end***/

/***INPUT-TEXTAREA___start***/
.infos input,
.message textarea {
    padding: 10px;
    background-color: transparent;
    text-align: center;
    border: none;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease; 
    -webkit-transition: all 0.3s ease;
    outline: none;
    font-family: var(--primary-text);
}

.infos input {
    margin: 10px;
    border-bottom: solid 1px var(--white);
}

.message textarea {
    resize : none;
    border: solid 1px var(--white);

}

.infos input:hover,
.message textarea:hover {
    background-color: var(--secondary-color-transparent);
}

.infos input:focus,
.message textarea:focus {
    background-color: var(--secondary-color);
    color: var(--white);
}
/***INPUT-TEXTAREA___end***/

/***SEND BUTTON___start***/
.button {
    display: flex;
    margin: 10px;
}

button {
    width: 200px;
    font-family: var(--primary-title);
    padding: 10px;
    border: solid 1px var(--white);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease; 
    -webkit-transition: all 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--white);
    border: solid 1px var(--white);
}

button i {
    padding-left: 10px;
}
/***SEND BUTTON___end***/

@media screen and (max-width: 499px) {    
    form,
    .infos input,
    .message textarea,
    button {
        font-size: 1.2rem;
    }

    form {
        margin: 10px;
    }

    .infos {
        display: flex;
        flex-direction: column;
    }

    .infos label {
        text-align: left;
        padding-bottom: 0;
    }

    .infos input {
        margin-top: 0;
        padding-top: 0;
    }

    .button {
        justify-content: center;
    }
}

@media screen and (min-width: 500px) and (max-width: 979px) {
    form,
    .infos input,
    .message textarea,
    button {
        font-size: 1.3rem;
    }

    form {
        width: 80%;
        margin: 50px auto;
    }

    .infos {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .infos label {
        margin: 10px;
        text-align: right;
    }

    .button {
        justify-content: flex-end;
        padding-top: 30px;
    }
}

@media screen and (min-width: 980px) {
    form,
    .infos input,
    .message textarea,
    button {
        font-size: 1.4rem;
    }

    form {
        width: 50%;
        margin: 100px auto;
    }

    .infos {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .infos label {
        margin: 10px;
        text-align: right;
    }

    .button {
        justify-content: flex-end;
        padding-top: 50px;
    }
}

.succes-send {
    z-index: 1000;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    background-color: rgb(165, 250, 165);
    font-family: var(--primary-text);
    font-size: 1.5rem;
    color: green;
    text-align: center;
}
