@import 'variable.css';

.list-techno {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 10px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 10px 20px var(--secondary-color);
    font-family: var(--primary-text);
    padding: 5px;
}

.techno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 979px) {
    .list-techno {
        width: 90%;
    }

    .pf-techno {
        height: 60px;
        padding: 10px;
    }
}

@media screen and (min-width: 980px) {
    .list-techno {
        width: 80%;
    }

    .pf-techno {
        height: 100px;
        padding: 20px;
    }
}
