:root {
    --screen-phone: 767px;
    --screen-tablet: 979px;
    --screen-desktop: 1199px;
    --primary-color: #4706FF;
    --secondary-color: #232323;
    --white: #fff;
    --orange: #F5B041;
    --primary-title: 'Baumans', sans-serif;
    --primary-text: 'TextMeOne', sans-serif;
    --secondary-title: 'GhoustOutline', sans-serif;
}

@font-face {
    font-family: 'SquadaOne';
    src: url('../fonts/SquadaOne-Regular.ttf');
}

@font-face {
    font-family: 'TextMeOne';
    src: url('../fonts/TextMeOne-Regular.ttf');
}

@font-face {
    font-family: 'Baumans';
    src: url('../fonts/Baumans-Regular.ttf');
}

@font-face {
    font-family: 'AllertaStencil';
    src: url('../fonts/AllertaStencil-Regular.ttf');
}

@font-face {
    font-family: 'GhoustOutline';
    src: url('../fonts/Ghoust-Outline.otf');
}
