:root {
    --screen-phone: 767px;
    --screen-tablet: 979px;
    --screen-desktop: 1199px;
    --primary-color: #0D90EE;
    --secondary-color: #232323;
    --secondary-color-transparent: rgba(35, 35, 35, 0.3);
    --white: #fff;
    --orange: #F5B041;
    --primary-title: 'Baumans', sans-serif;
    --primary-text: 'TextMeOne', sans-serif;
    --secondary-title: 'AllertaStencil', sans-serif;
}

@font-face {
    font-family: 'TextMeOne';
    src: url('../fonts/TextMeOne-Regular.ttf');
}

@font-face {
    font-family: 'Baumans';
    src: url('../fonts/Baumans-Regular.ttf');
}

@font-face {
    font-family: 'AllertaStencil';
    src: url('../fonts/AllertaStencil-Regular.ttf');
}
