<div>
    {% if aboutMe is not empty %}
        <p>
            {{ aboutMe[0].name }} - {{ aboutMe[0].myJob }} - 
            <i class="far fa-copyright"></i>  {{ aboutMe[0].copyrightYear }}
        </p>
    {% endif %}
</div>
<div class="footer-legal-notice">
    <a href="{{ path('legal_notice') }}">
        <i class="far fa-arrow-alt-circle-right"></i>  Voir les mentions légales
    </a>
</div>
