<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Thomas CLEMENT
            {% endblock %}
        </title>
        <link rel="stylesheet" href="/lib/fontawesome-free-5.15.3-web/css/all.css" />
        <link rel="stylesheet" href="/assets/css/common.css" />
        <link rel="stylesheet" href="/assets/css/menu.css" />
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <section class="menu">
            <div id="menu-burger" class="menu-button">
                <i class="fas fa-bars"></i>
            </div>
            <nav class="nav-container">
                <div id="menu-close" class="menu-button">
                    <i class="fas fa-times"></i>
                </div>
                <ul class="nav-menu">
                    <li>
                        <i class="fas fa-user"></i>
                        <a href="{{ path('about_me') }}">
                            A propos de moi
                        </a>
                    </li>
                    <li>
                        <i class="fas fa-book"></i>
                        <a href="{{ path('project') }}">
                            Mon portfolio
                        </a>
                    </li>
                    <li>
                        <i class="fas fa-flask"></i>
                        <a href="">
                            Mon labo
                        </a>
                    </li>
                    <li>
                        <i class="fas fa-id-card"></i>
                        <a href="">
                            Curriculum Vitae
                        </a>
                    </li>
                    <li>
                        <i class="fas fa-at"></i>
                        <a href="">
                            Me contacter
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
        <div class="menu-clear">
        </div>
        {% if app.user %}
            <a href="{{ path('admin_logout') }}" class="logout"><i class="fas fa-power-off"></i></a>
        {% endif %}
        {% block main %}
        {% endblock %}
        <script src="/assets/js/menu.js"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
